In [1]:
#print statement

print("HOPE AI")

HOPE AI

In [6]:
#BUY input

institute_name = input("Enter your institute name?:")

Enter your institute name?: HOPE AI

In [10]:
# Buy input

name        = input("Enter your name:")
school_name =input("Enter your school name:")
age         = input("Enter your age :")
Degree      = input("Enter your degree:")

Enter your name: Krishna kumar
Enter your school name: Govt hs school
Enter your age : 24
Enter your degree: bcom

In [13]:
#addition

a=43
b=34
print ("a =",a)
print ("b =",b)
print ("add =",a+b)

a = 43
b = 34
add = 77

In [17]:
#Subtraction

a= 43
b= 34
print ("a =",a)
print ("b =",b)
print ("sub =",a-b)

a = 43
b = 34
sub = 9

In [18]:
# Multiplication

a= 63
b= 97
print ("a =",a)
print ("b =",b)
print ("mul =",a*b)

a = 63
b = 97
mul = 6111

In [20]:
#Division

a= 76
b= 31
print ("a =",a)
print ("b =",b)
print ("div =",a/b)

a = 76
b = 31
div = 2.4516129032258065

In [22]:
#Floor division
a= 76
b= 31
print ("a =",a)
print ("b =",b)
print ("F div =",a//b)

a = 76
b = 31
F div = 2

In [23]:
#Modulo

a= 76
b= 31
print ("a =",a)
print ("b =",b)
print ("Modulo =",a%b)

a = 76
b = 31
Modulo = 14

In [25]:
#power

a=4
b=4
print ("a =",a)
print ("b =",b)
print ("power =",a**b)

a = 4
b = 4
power = 256