In [3]:
# print 0 to 20 by using range

for number in range(0, 20):
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [6]:
# print range 10 to 20  ## "  extend for space "

for num in range (10,20):
    print(num ,end=" ")

10 11 12 13 14 15 16 17 18 19

In [5]:
# Print number of items in the list by using 'len'


list2 = [10, 20, 14, 55, 43, 87, 76]
print (f"{list2} \nNumber of item in the List2: \n{len(list2)}")

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:
7

In [6]:
name = "Artificial Intelligence"
  
for sentence in name:
    print (sentence)

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [3]:
name= input("Enter your name")
age = input ("Enter your age ")
profession= input("Enter your profession")

print (f"yourname:{name}")
print (f"your age:{age}")
print (f"your profession:{profession}")

Enter your name krish
Enter your age  22
Enter your profession TL

yourname:krish
your age:22
your profession:TL

In [4]:
# Print this mixered datatype using Tuples

tup = (1, 'Welcome', 2, 'HOPE')
print(tup)

(1, 'Welcome', 2, 'HOPE')

In [8]:
# Creating a Tuple with nested tuples
tuple1=    (0,1,2,3)
tuple2= ('python', 'HOPE')
tuple3= (tuple1,tuple2)
print(tuple3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [2]:

# print Odd Numbers in the list
numbers = [20,10,16,19,25,1,276,188]
for item in numbers:
    if(item % 2 != 0):
        print(f"{item} is odd.")

19 is odd.
25 is odd.
1 is odd.

In [4]:
 # print Even numbers in the list
numbers = [20,10,16,19,25,1,276,188]
 for item in numbers:
     if (item % 2 == 0):
         print(f"{item} is even.")

20 is even.
10 is even.
16 is even.
276 is even.
188 is even.