In [1]:
#print statement
print("HOPE AI")

HOPE AI

In [2]:
#Buy input
institute_name = input("Enter your institute name? ")
print(institute_name)

Enter your institute name?  HOPE AI

HOPE AI

In [5]:
#Buy inputs
name = input("Enter your name: ")
age = int(input("Enter your age: "))
school = input("Enter your school name: ")
degree = input("Enter your degree: ")
print("Name:", name)
print("Age:", age)
print("School:", school)
print("Degree:", degree)

Enter your name:  Kaaviya
Enter your age:  27
Enter your school name:  UWL
Enter your degree:  MSE

Name: Kaaviya
Age: 27
School: UWL
Degree: MSE

In [11]:
#Addition
a = 43
b = 34
print("a = ",a)
print("b = ",b)
print("add = ",a + b)

a =  43
b =  34
add =  77

In [12]:
#Subtraction
a = 43
b = 34
print("a = ",a)
print("b = ",b)
print("Sub = ",a - b)

a =  43
b =  34
Sub =  9

In [13]:
#Multiplication
a = 63
b = 97
print("a = ",a)
print("b = ",b)
print("mul = ",a * b)

a =  63
b =  97
mul =  6111

In [14]:
#Division
a = 76
b = 31
print("a = ",a)
print("b = ",b)
print("div = ",a / b)

a =  76
b =  31
div =  2.4516129032258065

In [17]:
#Floor Division
a = 76
b = 31
print("a = ",a)
print("b = ",b)
print("Floor div = ",a // b)

a =  76
b =  31
Floor div =  2

In [18]:
#Modulo
a = 76
b = 31
print("a = ",a)
print("b = ",b)
print("modulo = ",a % b)

a =  76
b =  31
modulo =  14

In [20]:
#Power
a = 4
b = 4
print("a = ",a)
print("b = ",b)
print("power = ",a ** b)

a =  4
b =  4
power =  256